@charset "utf-8";
/* CSS Document */

.btn-color{
  background-color: #FBE2E2;
  color: #fff;
  border-radius: 20px;
  border: thick #000000;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}


.card{
	border: 0;
	border-style: solid;
	
}
.cardbody-color{
  background-color: #D0B8AC;
  border-radius: 25px;
  box-shadow:5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-thumbnail {
  border: 0px;
  background-color: transparent;
  box-shadow:5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0px;
}


.signuptext {
	font-family: "Agency FB";
	font-size: 25px;
	margin-bottom: 2px;
	color: #FFFFFF;
	text-decoration: bold;
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.signupbtn {
	font-size: 25px;
	font-weight: 1000;
	font-family: "Agency FB";
	color: #000000;
	text-decoration: bold;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
/*hover change color*/
.signupbtn:hover {
	color: #FBE2E2;
	background-color:#000000; 
}
/*giving shadows to box and input*/
.inputboxshadow {
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	border-style: solid;
}


.contactusform{
	color: #FFFFFF;
	text-decoration: underline;
	font-family: "Agency FB";
	font-size: 35px;
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
	font-weight: 1000px;
}

.characters {
	font-weight: 1000px;
}


